@page

<h1>Lab 10</h1>
<hr/>

<div class = "row">
<div class = "col-sm-4 border border-danger">
  <p class="text-success">Column One</p>  
 

</div>
<div class = "col-sm-8 border border-info">
    <p class="text-primary">Column Two</p>
    <img>


</div>
</div>

