@page

<h1>Lab 10</h1>
<hr />
<div class="container">
<div class = "row">
<div class = "col-sm-4 border border-danger">
  <p class="text-success"><form>
  <div class="form-group">
    <label for="First Name">First Name</label>
    <input type="First Name" class="form-control" id="First Name">
    
  </div>
  <div class="form-group">
    <label for="Last Name">Last Name</label>
    <input type="Last Name" class="form-control" id="Last Name">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form></p> 

</div>
<div class = "col-sm-8 border border-info">
    <img src="Doc.jpg" class = "img-thumbnail" alt="Doc">
</div>
</div>


  <div class="row">
    <div class="col-sm-3 border border-dark">
      <p class="text-info">"I got a hundred people down here and they're all covered in glass. </p>
     <p class="text-danger"> Glass? Who gives a shit about glass? Who the f*** is this?"</p>
    </div>
    <div class="col-sm-5 border border-success">
     <p class="text-primary">What's the demilitarized zone? It sounds like something from the Wizard of Oz "Oh no don't go in there!" "Ohhh wee ohh. Ho Chi Minn." 
      "Oh look you've landed in Saigon. You're amongst the little people now." 
      "We represent the ARVN army, the ARVN army. Oh no! Follow the Ho Chi Minn trail! Follow the Ho Chi Minn trail!" </p>
    </div>
    <div class="col-sm-4 border border-danger">
      <p class="text-info">"Coarse heading, Captain?</p>  <p class="text-success">Second star to the right and straight on 'til morning."</p>
    </div>
  </div>
</div>

